.form-container {
  background-image: url(/images/copy-space-frame-abstract-bubbles.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
 min-height: 100vh;

  
}
.form-container form {
  padding: 10px 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 500px;
  border-radius: 5px;
}
.form-container form h3 {
  margin-bottom: 10px;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}
.form-container form .box {
  width: 100%;
  border-radius: 5px;
  padding: 12px 14px;
  font-size: 18px;
  color: black;
  margin: 10px 0;
  background-color: white;
}
.btn,
.delete-btn {
  width: 50%;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 20px;
  color: black;
  display: block;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
 
}
.btn {
  background-color: rgb(31, 167, 212);
  
}
.btn:hover {
  background-color: rgb(52, 17, 209);
}
.delete-btn {
  background-color: rgb(31, 167, 212);
}
.delete-btn:hover {
  background-color: rgb(31, 167, 212);
}
.form-container form p {
  margin-top: 15px;
  font-size: 20px;
  color: black;
}
.form-container form p a {
  color: red;
}
.form-container form p a:hover {
  text-decoration: underline;
}
.message {
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 20px;
}
.container {
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container .profile {
  padding: 10px 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  width: 400px;
  border-radius: 5px;
}
.container .profile img {
  height: 50px;
  width: 50px;
  border: 30px;
  object-fit: cover;
  margin-bottom: 5px;
}
.container .profile h3 {
  margin: 5px 0;
  font-size: 20px;
  color: black;
}
.container .profile p {
  margin-top: 20px;
  color: black;
  font-size: 20px;
}
.container .profile p a {
  color: red;
}
.container .profile p a:hover {
  text-decoration: underline;
}


